.side-bar {
  height: 100%;
  background: teal;
  box-shadow: 2px 0px 5px rgba(0,0,0,0.2);
  position:fixed;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  color: white;
}

.side-bar ul {
  height:100%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 100%;
  display:  flex;
  flex-direction: column;
  justify-content: center;
  
}

.side-bar li {
  margin: 0.5rem 0;
  list-style: none;
}

.side-bar a {
  color: orange;
  text-decoration: none;
  font-size: 1.2rem;
}

.side-bar a:hover, 
.side-bar a:active {
  color:red;
}