.aboutmetext {
  font-size: 1.25rem;
  /* color:red; */
  width:50%;
  /* min-width: 50px; */
  margin-left: 25%;
  min-height: 50px;
  max-width: 1500px;
  max-height: 1000px;
  word-wrap: break-word;
  text-align: justify;  
}


